In [1]:
import numpy as  np 
import pandas as pd

In [8]:
data=pd.read_csv('creditcard.csv', error_bad_lines=False)

b'Skipping line 1987: expected 31 fields, saw 40\nSkipping line 5954: expected 31 fields, saw 43\nSkipping line 7934: expected 31 fields, saw 37\nSkipping line 11915: expected 31 fields, saw 35\nSkipping line 21861: expected 31 fields, saw 50\nSkipping line 25836: expected 31 fields, saw 54\nSkipping line 29799: expected 31 fields, saw 48\n'
b'Skipping line 35743: expected 31 fields, saw 32\nSkipping line 37723: expected 31 fields, saw 36\nSkipping line 41683: expected 31 fields, saw 53\nSkipping line 45643: expected 31 fields, saw 40\nSkipping line 51585: expected 31 fields, saw 55\nSkipping line 55548: expected 31 fields, saw 36\nSkipping line 59510: expected 31 fields, saw 42\nSkipping line 65453: expected 31 fields, saw 50\n'
b'Skipping line 71396: expected 31 fields, saw 48\nSkipping line 75356: expected 31 fields, saw 39\nSkipping line 83277: expected 31 fields, saw 44\nSkipping line 85258: expected 31 fields, saw 42\nSkipping line 87238: expected 31 fields, saw 33\nSkipping line 91201: expected 31 fields, saw 35\nSkipping line 93183: expected 31 fields, saw 38\n'
b'Skipping line 99127: expected 31 fields, saw 48\nSkipping line 103089: expected 31 fields, saw 34\nSkipping line 105069: expected 31 fields, saw 40\nSkipping line 107050: expected 31 fields, saw 35\nSkipping line 111011: expected 31 fields, saw 42\nSkipping line 114971: expected 31 fields, saw 53\nSkipping line 120912: expected 31 fields, saw 46\nSkipping line 128835: expected 31 fields, saw 36\n'
b'Skipping line 132796: expected 31 fields, saw 42\nSkipping line 134776: expected 31 fields, saw 37\nSkipping line 140719: expected 31 fields, saw 53\nSkipping line 144680: expected 31 fields, saw 48\nSkipping line 148640: expected 31 fields, saw 43\nSkipping line 152602: expected 31 fields, saw 32\nSkipping line 158543: expected 31 fields, saw 39\nSkipping line 162503: expected 31 fields, saw 46\n'
b'Skipping line 166467: expected 31 fields, saw 42\nSkipping line 168447: expected 31 fields, saw 37\nSkipping line 174390: expected 31 fields, saw 50\nSkipping line 178349: expected 31 fields, saw 50\nSkipping line 182308: expected 31 fields, saw 37\nSkipping line 186268: expected 31 fields, saw 42\nSkipping line 190228: expected 31 fields, saw 42\nSkipping line 196166: expected 31 fields, saw 40\n'
b'Skipping line 200130: expected 31 fields, saw 45\nSkipping line 204092: expected 31 fields, saw 40\nSkipping line 212010: expected 31 fields, saw 49\nSkipping line 215969: expected 31 fields, saw 48\nSkipping line 219929: expected 31 fields, saw 46\nSkipping line 223887: expected 31 fields, saw 39\nSkipping line 225868: expected 31 fields, saw 32\n'
b'Skipping line 229829: expected 31 fields, saw 45\nSkipping line 233788: expected 31 fields, saw 46\nSkipping line 237746: expected 31 fields, saw 44\nSkipping line 249630: expected 31 fields, saw 34\nSkipping line 251611: expected 31 fields, saw 33\nSkipping line 253592: expected 31 fields, saw 45\nSkipping line 259537: expected 31 fields, saw 41\n'
b'Skipping line 263503: expected 31 fields, saw 39\nSkipping line 267478: expected 31 fields, saw 44\nSkipping line 271454: expected 31 fields, saw 52\nSkipping line 275427: expected 31 fields, saw 36\nSkipping line 279398: expected 31 fields, saw 34\nSkipping line 281388: expected 31 fields, saw 35\nSkipping line 285349: expected 31 fields, saw 34\nSkipping line 287330: expected 31 fields, saw 44\nSkipping line 289307: expected 31 fields, saw 36\n'
b'Skipping line 295253: expected 31 fields, saw 48\nSkipping line 299225: expected 31 fields, saw 32\nSkipping line 301201: expected 31 fields, saw 34\nSkipping line 305175: expected 31 fields, saw 41\n'
/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (2,4,6,8,10,12,14,15,18,22,24) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [9]:
data.head(4)

   Time        V1                   V2  ...       V28  Amount  Class
0   0.0 -1.359807  -0.0727811733098497  ... -0.021053  149.62    0.0
1   0.0  1.191857     0.26615071205963  ...  0.014724    2.69    0.0
2   1.0 -1.358354    -1.34016307473609  ... -0.059752  378.66    0.0
3   1.0 -0.966272   -0.185226008082898  ...  0.061458  123.50    0.0

[4 rows x 31 columns]

In [10]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 307093 entries, 0 to 307092
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    307093 non-null  float64
 1   V1      307093 non-null  float64
 2   V2      307093 non-null  object
 3   V3      307093 non-null  float64
 4   V4      307093 non-null  object
 5   V5      307092 non-null  float64
 6   V6      307092 non-null  object
 7   V7      307091 non-null  float64
 8   V8      307090 non-null  object
 9   V9      307088 non-null  float64
 10  V10     307087 non-null  object
 11  V11     307085 non-null  float64
 12  V12     307083 non-null  object
 13  V13     307080 non-null  float64
 14  V14     307079 non-null  object
 15  V15     307077 non-null  object
 16  V16     307076 non-null  float64
 17  V17     307070 non-null  float64
 18  V18     307065 non-null  object
 19  V19     307060 non-null  float64
 20  V20     307054 non-null  float64
 21  V21     307051 non-null  float64
 22  V22     307050 non-null  object
 23  V23     307047 non-null  float64
 24  V24     307042 non-null  object
 25  V25     307040 non-null  float64
 26  V26     307036 non-null  float64
 27  V27     307031 non-null  float64
 28  V28     307029 non-null  float64
 29  Amount  307022 non-null  float64
 30  Class   307015 non-null  float64
dtypes: float64(20), object(11)
memory usage: 72.6+ MB

In [11]:
len(data)

307093

In [14]:
data.isnull().sum()

Time       0
V1         0
V2         0
V3         0
V4         0
V5         1
V6         1
V7         2
V8         3
V9         5
V10        6
V11        8
V12       10
V13       13
V14       14
V15       16
V16       17
V17       23
V18       28
V19       33
V20       39
V21       42
V22       43
V23       46
V24       51
V25       53
V26       57
V27       62
V28       64
Amount    71
Class     78
dtype: int64

In [16]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 307093 entries, 0 to 307092
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    307093 non-null  float64
 1   V1      307093 non-null  float64
 2   V2      307093 non-null  object
 3   V3      307093 non-null  float64
 4   V4      307093 non-null  object
 5   V5      307092 non-null  float64
 6   V6      307092 non-null  object
 7   V7      307091 non-null  float64
 8   V8      307090 non-null  object
 9   V9      307088 non-null  float64
 10  V10     307087 non-null  object
 11  V11     307085 non-null  float64
 12  V12     307083 non-null  object
 13  V13     307080 non-null  float64
 14  V14     307079 non-null  object
 15  V15     307077 non-null  object
 16  V16     307076 non-null  float64
 17  V17     307070 non-null  float64
 18  V18     307065 non-null  object
 19  V19     307060 non-null  float64
 20  V20     307054 non-null  float64
 21  V21     307051 non-null  float64
 22  V22     307050 non-null  object
 23  V23     307047 non-null  float64
 24  V24     307042 non-null  object
 25  V25     307040 non-null  float64
 26  V26     307036 non-null  float64
 27  V27     307031 non-null  float64
 28  V28     307029 non-null  float64
 29  Amount  307022 non-null  float64
 30  Class   307015 non-null  float64
dtypes: float64(20), object(11)
memory usage: 72.6+ MB

In [23]:
from sklearn.preprocessing import  LabelEncoder
label=LabelEncoder()
data['V2']=pd.to_numeric(data.V2, errors='coerce')
data['V4']=pd.to_numeric(data.V4, errors='coerce')
data['V6']=pd.to_numeric(data.V6, errors='coerce')
data['V8']=pd.to_numeric(data.V8, errors='coerce')
data['V10']=pd.to_numeric(data.V10, errors='coerce')
data['V12']=pd.to_numeric(data.V12, errors='coerce')
data['V14']=pd.to_numeric(data.V14, errors='coerce')
data['V15']=pd.to_numeric(data.V15, errors='coerce')
data['V16']=pd.to_numeric(data.V16, errors='coerce')
data['V18']=pd.to_numeric(data.V18, errors='coerce')
data['V20']=pd.to_numeric(data.V20, errors='coerce')
data['V22']=pd.to_numeric(data.V22, errors='coerce')
data['V24']=pd.to_numeric(data.V24, errors='coerce')

In [24]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 307093 entries, 0 to 307092
Data columns (total 32 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    307093 non-null  float64
 1   V1      307093 non-null  float64
 2   V2      307092 non-null  float64
 3   V3      307093 non-null  float64
 4   V4      307092 non-null  float64
 5   V5      307092 non-null  float64
 6   V6      307090 non-null  float64
 7   V7      307091 non-null  float64
 8   V8      307088 non-null  float64
 9   V9      307088 non-null  float64
 10  V10     307086 non-null  float64
 11  V11     307085 non-null  float64
 12  V12     307082 non-null  float64
 13  V13     307080 non-null  float64
 14  V14     307078 non-null  float64
 15  V15     307076 non-null  float64
 16  V16     307076 non-null  float64
 17  V17     307070 non-null  float64
 18  V18     307064 non-null  float64
 19  V19     307060 non-null  float64
 20  V20     307054 non-null  float64
 21  V21     307051 non-null  float64
 22  V22     307049 non-null  float64
 23  V23     307047 non-null  float64
 24  V24     307041 non-null  float64
 25  V25     307040 non-null  float64
 26  V26     307036 non-null  float64
 27  V27     307031 non-null  float64
 28  V28     307029 non-null  float64
 29  Amount  307022 non-null  float64
 30  Class   307015 non-null  float64
 31  V165    307076 non-null  float64
dtypes: float64(32)
memory usage: 75.0 MB

In [27]:
data = data.astype('float').fillna(data.astype('float').mean())

In [29]:
data.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
V165      0
dtype: int64

In [32]:
#now we dont have any null values 
X = data.iloc[:,:-1]
y = data['Class']

In [36]:
frauds = data.loc[data['Class'] == 1]
non_frauds = data.loc[data['Class'] == 0]
print("We have", len(frauds), "fraud data points and", len(non_frauds), "regular data points.")

We have 617 fraud data points and 306398 regular data points.

In [38]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, train_size=0.50,test_size=0.30,random_state=42)

In [43]:
print("Size of training set: ", X_train.shape)

Size of training set:  (153546, 31)

In [54]:
from keras import models
from keras import layers
def model_build():
    
  model = models.Sequential()
  model.add(layers.Dense(10, input_dim=31, activation='relu'))     # kernel_initializer='normal'
  model.add(layers.Dense(8, activation='sigmoid'))                 # kernel_initializer='normal'
  model.add(layers.Dense(6, activation='relu'))                 # kernel_initializer='normal'
  return model
model=model_build()

In [58]:
model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

In [60]:
from keras.models import Sequential
from keras.layers import Dense, Activation, Convolution2D, Flatten, Dropout, MaxPooling2D
from keras.optimizers import SGD
import tensorflow as tf
model.fit(X_train.values, y_train, epochs=10)

Epoch 1/10
4799/4799 [==============================] - 6s 1ms/step - loss: 0.0294 - accuracy: 0.9978
Epoch 2/10
4799/4799 [==============================] - 6s 1ms/step - loss: 0.0294 - accuracy: 0.9978
Epoch 3/10
4799/4799 [==============================] - 6s 1ms/step - loss: 0.0294 - accuracy: 0.9978
Epoch 4/10
4799/4799 [==============================] - 6s 1ms/step - loss: 0.0294 - accuracy: 0.9978
Epoch 5/10
4799/4799 [==============================] - 6s 1ms/step - loss: 0.0294 - accuracy: 0.9978
Epoch 6/10
4799/4799 [==============================] - 6s 1ms/step - loss: 0.0294 - accuracy: 0.9978
Epoch 7/10
4799/4799 [==============================] - 6s 1ms/step - loss: 0.0294 - accuracy: 0.9978
Epoch 8/10
4799/4799 [==============================] - 6s 1ms/step - loss: 0.0294 - accuracy: 0.9978
Epoch 9/10
4799/4799 [==============================] - 6s 1ms/step - loss: 0.0294 - accuracy: 0.9978
Epoch 10/10
4799/4799 [==============================] - 6s 1ms/step - loss: 0.0294 - accuracy: 0.9978

In [65]:
print("Loss: ", model.evaluate(X_test.values, y_test, verbose=0))

Loss:  [0.031314585357904434, 0.9978073835372925]

In [66]:
y_predicted = model.predict(X_test.values).T[0].astype(int)